page-login h2 {
  text-align: center;
  margin: 10px;
}

page-login form {
  margin-bottom: 20px;
}

page-login form button {
  margin-top: 20px !important;
}

page-login form p {
  font-style: italic;
  color: red;
}

page-login .invalid {
  border-bottom: 1px solid #FF6153;
}

page-login .error-message .item-inner {
  border-bottom: 0 !important;
}
