.user_icon {
  border-radius: 50%;
  width: 30%;
}

.icon_padding {
  padding-left: 5px;
}

.spacing {
  width: 20%;
}

/*styles for graphic*/
table.rg-table {
  border: 1px solid black;
  margin: 0 0 1em 0;
  width: 100%;
  height: auto;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1em;
  border-collapse: collapse;
  border-spacing: 0;
}

table.rg-table * {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-align: left;
  color: #333;
}

table.rg-table thead {
  border-bottom: 1px solid rgba(195, 195, 197, 0.3);
}

table.rg-table th {
  background-color: #f53d3d;
  font-weight: bold;
  padding: 0.5em;
  font-size: 0.85em;
  line-height: 1.4;
  color: white;
}

table.rg-table td {
  padding: 0 0 0 10px;
  font-size: 0.9em;
  line-height: 2.4;
}

table.rg-table .highlight td {
  font-weight: bold;
}

table.rg-table tr {
  padding: 0 0 0 0;
}

table.rg-table .number {
  text-align: right;
}

table.rg-table.zebra tr:nth-child(even) {
  background: rgba(195, 195, 197, 0.1);
}

table.rg-table tr.highlight {
  background: #edece4;
}

@media screen and (max-width: 500px) {
  .rg-container {
    max-width: 500px;
    margin: 0 auto;
  }
  table.rg-table {
    display: block;
    width: 100%;
  }
  table.rg-table tr.hide-mobile,
  table.rg-table th.hide-mobile,
  table.rg-table td.hide-mobile {
    display: none;
  }
  table.rg-table thead {
    display: none;
  }
  table.rg-table tbody {
    display: block;
    width: 100%;
  }
  table.rg-table td:last-child {
    padding-right: 0;
    border-bottom: 2px solid #ccc;
  }
  table.rg-table tr,
  table.rg-table th,
  table.rg-table td {
    display: block;
    padding: 0;
  }
  table.rg-table td[data-title]:before {
    font-weight: bold;
    display: inline-block;
    content: attr(data-title);
    float: left;
    margin-right: 0.5em;
    font-size: 0.95em;
  }
  table.rg-table tr {
    border-bottom: none;
    margin: 0 0 1em 0;
    padding: 0.5em 0;
  }
  table.rg-table tr:nth-child(even) {
    background: none;
  }
  table.rg-table td {
    padding: 0.5em 0 0.25em 0;
    border-bottom: 1px dotted #ccc;
    text-align: right;
  }
  table.rg-table td:empty {
    display: none;
  }
  table.rg-table .highlight td {
    background: none;
  }
  table.rg-table tr.highlight {
    background: none;
  }
  table.rg-table.zebra tr:nth-child(even) {
    background: none;
  }
  table.rg-table.zebra td:nth-child(even) {
    background: rgba(195, 195, 197, 0.1);
  }
}

ion-row {
  font-weight: bold;
  font-size: 20px;
  padding: 5px;
  text-align: center;
  background-color: #ccc;
  border-radius: 4px;
}

.priceList {
  background-color: #f53d3d;
  color: #fff;
  text-align: center;
  border-radius: 4px;
}

.buttons-align {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.buttons-align button {
  width: 27.5%;
}
